.marquee {
    min-height: 10vh;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.marquee__container {
    width: 100%;
    min-height: 20vh;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.marquee__stripe-white {
    width: 100vw;
    height: 50px;
    background-color: var(--color-black);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) skewY(-2deg);
    z-index: 1;
    overflow: hidden;
}

.stripe-pattern-white {
    animation: scrollPatternReverse 15s linear infinite;
    will-change: transform;
}

.marquee__stripe {
    width: 100vw;
    height: 50px;
    background-color: var(--color-orange);
    margin-bottom: 2rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%) skewY(2deg);
    z-index: 2;
    overflow: hidden;
}

.stripe-pattern {
    animation: scrollPattern 15s linear infinite;
    will-change: transform;
}

@keyframes scrollPattern {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-240px);
    }
}

@keyframes scrollPatternReverse {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(240px);
    }
}

.marquee__text {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.05em;
}